@page "/"

<PageTitle>IT100 - Blazor Lab</PageTitle>

<div id="movies">
    <div class="movie">
        <div class="title">
            @Movies[0].Title
        </div>
        <div class="year">
            Year: @Movies[0].Year
        </div>
        <div class="genre">
            Genre: @Movies[0].Genres[0]
        </div>
        <div class="director">
            Director: 
        </div>
        <div class="rating">
            Rating: @Movies[0].Rating
        </div>
        <div class="stars">
            Stars: @(Movies[0].Rating)/5
        </div>
    </div>
</div>
